@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: 'Shrikhand';
    src: url('/fonts/Shrikhand.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Codystar';
    src: url('/fonts/Codystar.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-shrikhand: "Shrikhand", sans-serif;
    --font-codystar: "Codystar", sans-serif;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
}

.dark input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: #e7e5e4 !important;
}